################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/test/DesignPatterns.UnitTests/obj
/test/DesignPatterns.UnitTests/bin/Debug/net6.0
/.vs
/src/Singleton/obj
/src/Singleton/bin/Debug/net6.0
